# top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Indentation
indent_style = space
indent_size = 2

# C# files
[*.cs]
indent_style = space
indent_size = 4
dotnet_style_qualification_for_field = true:suggestion
csharp_new_line_before_open_brace = all

# JSON / YAML
[*.{json,yml,yaml}]
indent_size = 2

# Markdown
[*.md]
trim_trailing_whitespace = false


